@model IEnumerable<ProductViewModel>

@{
	ViewBag.Title = "All Products";
}
<div style= "margin-bottom: 1rem;">
	<form method="get" action="">
		<input type="text" asp-controller="Product" asp-action="All" name="keyword" />
		<button type="submit">Submit</button>
	</form>
</div>


<div class="card align-content-lg-start" style="width: 18rem;">
	<div class="card-header">@ViewBag.Title</div>
	<ul class="list-group list-group-flush">
		@foreach (var p in Model)
		{
			<li class="list-group-item">
				<a asp-controller="Product" asp-action=ById asp-route-Id="@p.Id">
					N.@p.Id: @p.Name - @p.Price lv.
				</a>
			</li>
		}
	</ul>
</div>

